.header_component{
    height: 100px;
    width: 100%;
    background-image: url('../assets/images/home/header_bg.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navigation_component{
    width: 100%;
    height: 46px;
    background-color: #232323;
    border-top: 4px solid #289dcc;
}