/* You can add global styles to this file, and also import other style files */

html, body, app-root{
    color: #4c5e75;
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
    font-family: roboto-regular;
    background-color: white;
}

 /*         Different fonts    */
@font-face{
    font-family: roboto-light;
    src: url('../src/assets/style/font/Roboto-Light.ttf')
}

@font-face{
    font-family: roboto-medium;
    src: url('../src/assets/style/font/Roboto-Medium.ttf')
}

@font-face{
    font-family: roboto-regular;
    src: url('../src/assets/style/font/Roboto-Regular.ttf')
}

@font-face{
    font-family: roboto-bold;
    src: url('../src/assets/style/font/Roboto-Bold.ttf')
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
}

p{
    margin: 0;
}
